* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}
/* body {
   
  
} */
h2 {
    font-size: 20px;
    border: 1px solid #84916a;
    background-color: rgba(248, 245, 241, 0.418);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}
header {
    background-color: #4CAF50;
            color: white;
            padding: 20px;
            text-align: center;

}

.bookImg {
    width: 250px;
    height: 300px;
}



.booksContainer {
    background-color: rgb(108, 108, 119);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

.contentClass {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
   
}

.book {
    width: 500px;
    background-color: rgb(243, 239, 247);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}



#commentID {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;


   
}
#commentID:hover {
    background-color: #d1e7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);  
}
#commentsContainer {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;

}
#pComment {
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    font-family: 'Roboto', sans-serif;

}

#pComment:hover {
    background-color: #d1e7ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02); 
}
#inputID {
    width: 350px;
    height: 35px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 15px; 
   text-align: center;
   opacity: 0.5;
   
}



#sendBtn {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.fav {
    width: 30px;
    height: 30px;
    gap: 25px;
    cursor: pointer;
}






