* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    
}
/* body {
   
  
  
} */
h2 {
    font-size: 30px;
    border: 1px solid #84916a;
    background-color: rgba(248, 245, 241, 0.418);
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
header {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 235, 245);
    padding: 30px;
}

.bookImg {
    width: 250px;
    height: 300px;
}



.booksContainer {
    background-color: rgb(108, 108, 119);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     
}

.contentClass {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
   
}

.book {
    width: 500px;
    background-color: rgb(243, 239, 247);
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}



#commentID {
    border: 1px solid black;
    margin-bottom: 15px;
    color: rgb(114, 94, 63);
    background-color: rgba(243, 250, 250, 0.733);
   
}
#commentsContainer {
    display: flex;

}
input {
    width: 350px;
    height: 35px;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 15px; 
   text-align: center;
   opacity: 0.5;
   
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}






